body{
    height: 98vh;
    background-size: cover;
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485)
}

.container{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    background: slategray;
    padding: 0 50px 50px 50px;
    border-radius: 50px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.4);
}

h1{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

h2{
    display: inline-block;
}

.pull-right{
    float: right;
}

canvas{
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,.4);
}

.buttons-container{
    position: relative;
    background: transparent;
    padding: 100px 50px 50px 50px;
    border-radius: 50px;
}

.btn{
    border-radius: 200px;
    box-shadow: 0 5px 10px rgba(0,0,0,.4);
    transition: all .2s;
    padding: 0;
    margin: 0;
}

.btn:hover{
    transform: translate(0, 10%);
    box-shadow: 0 5px 10px rgba(0,0,0,.4);
}

.btn:active{
    transform: translate(0, 100%);
}

#up{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

}

#down{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#left{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#right{
    position: absolute;
    top: 50%;
    right: 13.5%;
    transform: translate(-50%, -50%);
}